.tree-container {
    width: 100%
}

.table-container {
    display: flex;

    .rc-toolbar {
        padding: 5px;

        .toolbar-buttons {
            display: flex;
            flex-direction: column;
        }
    }
}