@import '../public/fonts/roboto/Roboto-Regular.ttf';
@import './ReactUIDesigner.scss';
@import './editors/Editor.scss';
@import './previews/buttons/Buttons.scss';
@import './previews/inputs/Inputs.scss';
@import './previews/tabletree/TableTree.scss';
@import './previews/popup/Popup.scss';
@import './previews/messages/Messages.scss';
@import './previews/TabSelection.scss';
@import './ExpressDialog.scss';

:root {
    --designer-topbar-height:70px;
    --designer-main-height: calc(100vh - var(--designer-topbar-height));
    --designer-panel-wrapper-width:300px;
    --designer-content-padding:0.5rem;
    --designer-text-color:#495057;
    --designer-font-size:14px;
  }
  
  body {
    margin: 0;
    font-family: 'Roboto';
  }