@import '../public/fonts/roboto/Roboto-Regular.ttf';

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/roboto/Roboto-Regular.ttf');
}

:root {
  --designer-topbar-height:70px;
  --designer-panel-wrapper-width:300px;
  --designer-content-padding:0.5rem;
  --designer-text-color:#495057;
  --designer-font-size:14px;
}

body {
  margin: 0;
  font-family: 'Roboto';
}