@mixin styledScrollbarPanelDefault() {
  &::-webkit-scrollbar {
      width:7px;
  }
  // &::-webkit-scrollbar-button:start:decrement {
  //     height:70px;
  // }
  &::-webkit-scrollbar-track {
      background:white; 
  }
  &::-webkit-scrollbar-thumb {
      background:rgb(230, 230, 230);
      border-radius:10px;
      &:hover {
          background:rgb(202, 202, 202);
      }
  }
}

.designer-main {
  height: 100vh;
  display: flex;
}

.designer-frame {
  font-size: var(--designer-font-size);
}

.designer-topbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--designer-topbar-height);
  padding: 0 1rem;
  background: #2196F3;
}

.designer-topbar-left {
  display: flex;
  align-items: center;
}

.designer-topbar-header {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.designer-topbar-reset-button.p-button {
  border-radius: 50%;
  background: #0a80e0;
  border-color: #0a80e0;

  &:enabled:hover {
    background: #0477d4;
    border-color: #0477d4;
  }
}

.designer-panel-wrapper {
  :focus {
      box-shadow: none !important;
      -webkit-box-shadow: none !important;
  }

  position: fixed;
  width: var(--designer-panel-wrapper-width);
  height: calc(100% - var(--designer-topbar-height));
  display: flex;
  flex-direction: column;
  margin-top: var(--designer-topbar-height);
  background: #fafafa;
  border-right: 1px solid rgba(120,130,140,.13);
  border-top: 1px solid rgba(120,130,140,.13);
  overflow: auto;
  @include styledScrollbarPanelDefault();

  .designer-panel-options {
    width: 100%;
    display: flex;
    //flex-direction: column;
    flex-wrap: wrap;

    .designer-panel-options-inputs {
      display: flex;
      align-items: center;
      margin: 0.25rem 0.5rem;
    }

    .designer-panel-options-inputtext {
      max-width: 75px;
      margin-left: 0.25rem;
    }

    .designer-panel-options-button {
      width: calc(50% - 10px);
      margin: 5px;
    }

    .designer-panel-options-button-solo {
      width: 100%;
      margin: 5px;
    }
  }

  .p-accordion {
    .p-accordion-header {
      .p-accordion-header-link {
        background: transparent;
        color: var(--designer-text-color);
        border: none;
      }
    }
  }
}

.designer-content {
  background: repeating-linear-gradient(-55deg, #dbdbdb, #dbdbdb 10px, #aaa 10px, #aaa 20px);
  position: relative;
  margin-top: var(--designer-topbar-height);
  margin-left: var(--designer-panel-wrapper-width);
  padding: var(--designer-content-padding);
  flex: 1 1;

  .menu-logo-wrapper, .menu-logo, .menu-topbar, .menu-panelmenu-wrapper,
  .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text, 
  .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-submenu-icon,
  .menu-logo-mini-wrapper, .menu-logo-mini, .fadeout, .main.menu-transition:not(.main--with-corp-menu) {
      transition: none;
  }
}

@media screen and (max-width: 960px) {
  .profile-menu .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
    .p-menuitem-text, .p-submenu-icon {
      transition: none
    }
  }
}